body {
	background-image: url(images/ood_bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: Roboto, Arial, Helevetica, sans-serif;
	color: white;
	text-align: center;
}
a,
a:visited {
	color: blue;
}
	a:active {
		color: darkRed;
	}

#gif {
	/*color: black;
	text-shadow: 0px 0px 8px white;*/
	text-shadow: 0px 0px 8px black;
}
	#gif h1 {
		font-size: 40px;
	}
	#gif img {
		box-shadow: 0px 0px 16px 8px white;
		/*box-shadow: 0px 0px 16px 8px black;*/
	}

#links {
	position: fixed;
	bottom: -2px;
	left: 0px;
	right: 0px;
	padding-bottom: 0px;
	padding-top: 2px;
	font-size: 13px;
	background-color: white;
	background-color: rgba(255,255,255,0.4);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:    -moz-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:     -ms-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:      -o-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:         linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	color: black;
	
	overflow: visible;
}
