body {
	margin: 0;
	border: 0;
	padding: 0;
	
	background-image: url(images/ood_bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: Roboto, Arial, Helevetica, sans-serif;
	color: white;
	text-align: center;
}
a,
a:visited {
	color: blue;
}
	a:active {
		color: darkRed;
	}

#gif {
	/* Ensure the image can be scrolled above the footer in a short window. */
	margin-bottom: 3em;
	
	/*color: black;
	text-shadow: 0px 0px 8px white;*/
	text-shadow: 0px 0px 8px black;
}
	#gif h1 {
		font-size: 40px;
	}
	#gif img {
		display: block;
		margin: 1em auto;
		max-width: 100%;
		
		box-shadow: 0px 0px 16px 8px white;
		/*box-shadow: 0px 0px 16px 8px black;*/
	}

#unmuteButton {
	display: none; /* Only shown if the browser auto-mutes. */
	
	background: transparent;
	border: 0 none;
	
	font-size: 3em;
	text-shadow:
		0px 0px 4px rgba(0, 0, 0, 0.5),
		0px 0px 8px white,
		0px 0px 8px white;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	
	transition: 0.1s text-shadow;
}
	#unmuteButton.visible {
		display: inline-block;
	}
	#unmuteButton:hover,
	#unmuteButton:focus {
		text-shadow:
			0px 0px 4px rgba(0, 0, 0, 0.5),
			0px 0px 12px white,
			0px 0px 12px white;
	}
	#unmuteButton:active {
		opacity: 0.8;
	}

#links {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 2px;
	font-size: 0.875em;
	
	background-color: white;
	background-color: rgba(255,255,255,0.4);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:    -moz-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:     -ms-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:      -o-linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	background:         linear-gradient(left, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
	color: black;
	
	overflow: visible;
}
